
.heading-2 p {
  height: 54px;
  /* font-family: 'Rubik'; */
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
}
.para-2 p {
  font-family: 'Poppins', sans-serif;
  width: 60%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #e0e0e0;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
}
.para-2 {
  width: 100%;
  display: grid;
  place-items: center;
}
.one {
  border: 1px solid white;
  display: grid;
  place-items: center;
  position: relative;
  padding: 35px 10px;
  border-radius: 10px;
  /* width: 500px; */
}
.heading-3 h2{
  width: 112px;
  height: 54px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 54px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.vector-2 img {
  width: 53px;
  height: 88px;
}
.para-3 p {
  width: 319px;
  height: 33px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.para-4 p {
  /* width: 349px; */
  /* height: 66px; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* line-height: 33px; */
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #ffffff;
  opacity: 0.77;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.para-5 p {
  width: 71px;
  height: 54px;
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #ffffff;
}
.btn-4 {
  background: linear-gradient(89.71deg, #10ca83 1.95%, #10ca83 99.75%);
  border-radius: 20px;
  /* padding: 10px 50px; */
  padding: 2% 22%;
  outline: none;
  border: none;
  margin-top: -7%;
  font-family: 'Inter';
}
.col-5 {
  box-sizing: border-box !important;
}
.tabs {
  display: flex;
  justify-content: center;
}

.plan-section {
  gap: 50px;
}
