
.gallery-heading h2{
    height: 28px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.gallery-para p{
    font-family: 'Rubik';
    width: 60%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.clickss{
 color: white;
  background: #F3F3F31A;
  display: flex;
  justify-content: center;
  border-radius: 10px;
    
}

.links{
    width: 228px;
    box-sizing: border-box;
    font-family: 'Poppins';
    cursor: pointer;
    font-size: 16px;
}
.links-one{
    width: 228px;
    border-radius: 10px 0 0 10px;
    font-family: 'Poppins';
    cursor: pointer;
}
.links-last{
    width: 228px;
    border-radius: 0 10px 10px 0;
    font-family: 'Poppins';
    cursor: pointer;
}
.links p , .links-last p , .links-one p{
    cursor: pointer;
}
.col-1 img{
    width: 120px;
    height: 84px;
}

.gallerys{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
}